@{
    Layout = null;

}
@using DotNetLive.Search.Entities.Page;
@using DotNetLive.Search.Entities.CnBlogs;

@model  ElasticPager<Blog>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DNL。Search</title>
    <link href="~/css/font.css" rel="stylesheet" />
    <link href="~/css/common.css" rel="stylesheet" />
    <link href="~/css/search.css" rel="stylesheet" />
    <link href="~/css/search_v.css" rel="stylesheet" />
</head>
<body>
    <div class="top">
        <div id="span_userinfo"></div>
    </div>
    <div id="header">
        <a id="logo" href="/"><img style="width: 100%;height:90%" alt="dotnetlive 搜一搜logo" src="/images/logo.png" /></a>

        <div class="index_sozone">

            <div class="index_tab">
                <a class="tab_selected " href="/s/blogpost?Keywords=.net">博客</a>
                <a class="" href="/s/question?Keywords=.net">论坛</a>
            </div>

            <div>
                <form action="/" autocomplete="off" method="get">
                    <div class="index_btn">
                        <input type="submit" class="btn_so_index" value="&nbsp;搜一下&nbsp;" />
                    </div>
                    <input class="input_index" id="w" name="keyword" type="text" value="@Model.KeyWord" />
                </form>
            </div>

        </div>
        <div style="clear: both"></div>
        <div id="searchInfo">
            <span style="float: left; margin-left: 15px;"></span>DNL。Search，找到相关内容<b id="CountOfResults">@Model.PageData.TotalCount</b>篇，用时@(Model.Took)毫秒
        </div>
        <!--end: searchInfo -->
    </div>
    <!--end: header -->
    <div id="main">
        <div id="searchResult">
            <div style="clear: both">
            </div>
            <div class="forflow">
                @foreach (var item in Model?.List)
                {
                    <div class="searchItem">
                        <h3 class="searchItemTitle">
                            <a target="_blank" href="@item.href">@Html.Raw(item.title)</a>
                        </h3>
                        <!--end: searchItemTitle -->
                        <span class="searchCon">
                            @Html.Raw(item.summary)
                        </span>
                        <!--end: searchCon -->
                        <div class="searchItemInfo">
                            <span class="searchItemInfo-userName">
                                <a href="@item.author_url" target="_blank">@item.author</a>
                            </span>
                            <span class="searchItemInfo-publishDate">@item.create_time</span>
                            <span class="searchItemInfo-good">推荐(@item.goods_num)</span>
                            <span class="searchItemInfo-comments">评论(@item.comment_num)</span>
                            <span class="searchItemInfo-views">浏览(@item.view_num)</span>

                        </div>
                        <div class="searchItemInfo">
                            <span class="searchURL">@item.href</span>
                        </div>
                    </div>
                }

                <div id="paging_block">@Html.Raw("")</div>


            </div>
        </div>

    </div>
    <div style="clear: both;"></div>

    <div id="footer">
        &copy; 2017-2018 <a title="DNL。Search" href="//www.cnblogs.com">DNL。Search</a>
    </div>

</body>
</html>
